tbldefs/Photos.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
  <xsd:element name="dataroot">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Photos" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
      <xsd:attribute name="generated" type="xsd:dateTime"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Photos">
    <xsd:annotation>
      <xsd:appinfo>
        <od:index index-name="ImageDate" index-key="ImageDate " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:index index-name="ImageNum" index-key="ImageNum " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:index index-name="PrimaryKey" index-key="ImageID " primary="yes" unique="yes" clustered="no" order="asc"></od:index>
        <od:index index-name="VisitID" index-key="VisitID " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:tableProperty name="Orientation" type="2" value="0"></od:tableProperty>
        <od:tableProperty name="OrderByOn" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="DefaultView" type="2" value="2"></od:tableProperty>
        <od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"></od:tableProperty>
        <od:tableProperty name="TotalsRow" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="FilterOnLoad" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="OrderByOnLoad" type="1" value="1"></od:tableProperty>
        <od:tableProperty name="HideNewField" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="SubDataSheetName" type="10" value="[None]"></od:tableProperty>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ImageID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ImageNum" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ImageDate" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ShowDatePicker" type="3" value="1"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="FileName" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="FilePath" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Highlight" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="106"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="Format" type="10" value="Yes/No"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="VisitID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Compare" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Format" type="10" value="Yes/No"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="106"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ObsCount" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Verified" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Format" type="10" value="Yes/No"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="106"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Pending" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Format" type="10" value="Yes/No"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="106"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="MultiSp" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Format" type="10" value="Yes/No"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="106"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="NotNone" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Format" type="10" value="Yes/No"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="106"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="NeedsUpdate" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Format" type="10" value="Yes/No"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="106"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
